input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box {
  transition: box-shadow .3s;
}

.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.border-lightgrey {
  border-color: #808080 !important;
}

i.icon {
  color: #808080;
}

i.icon:hover {
  color: #000000;
}

#imageCropper {
  max-width: 100%;
}

#cropperDiv{
  max-width: 100%;
}